$primary-color: #333333;
$secondary-color: #00b3e3;

.navbar {
    background-color: $primary-color;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 10;

    h1 {
        height: 70px;
        color: $secondary-color;
        font-family: "Kalam", cursive;
        font-size: 3rem;
        margin-left: 10px;
    }

    .user {
        display: flex;
        align-items: center;
    }

    p {
       padding: 5px;
    }

    .user-icon {
        height: 30px;
        filter: invert(100%);
    }
}
