.navbar {
    background-color: #00b3e3; //Wolt official color :)
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    width: 100%;

    h1 {
        margin-top: 5px;
        font-family: "Kalam", cursive;
        font-size: 3rem;
    }
}
