$primary-color: #333333;
$secondary-color: #00b3e3;

@media (min-width: 600px) {
    .footer {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        background-color: $primary-color;
        color: white;
        padding: 50px;

        .download {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2,
            img {
                margin-bottom: 10px;
            }

            img {
                height: 60px;
            }
        }

        .about {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            span {
                margin: 2px;
            }

            div {
                margin-top: 25px;
            }

            h2 {
                margin-bottom: 10px;
            }
        }

        .socials {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .wolt-logo {
                height: 80px;
            }

            .social-btns {
                img {
                    height: 50px;
                    filter: invert(100%);
                    margin: 10px;
                    cursor: pointer;
                    transition: 0.2s ease-in-out;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $primary-color;
        color: white;
        padding: 20px;
        
        div {
            margin: 5px 0;
        }

        .download, .socials, .about {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .download {
            order: 3;
        }

        .about { 
            order: 2;
        }

        .socials {
            order: 1;
        }

        .social-btns {
            img {
                filter: invert(100%);
                margin: 10px;
                cursor: pointer;
                transition: 0.2s ease-in-out;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        img {
            height: 50px;
        }
    }
}
