$primary-color: #333333;
$secondary-color: #00b3e3;

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    color: white;
    padding: 20px;
}
