$primary-color: #333333;
$secondary-color: #00b3e3;

.navbar {
    background-color: $primary-color;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 10;

    .logo {
        height: 60px;
        margin-left: 10px;
        width: 150px;
        animation: fadeIn 0.8s;
    }
}

@keyframes fadeIn {
    from {
        margin-bottom: 120px;
    }
}
