// Grid Style
.restaurant-card-grid {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    &:hover {
        cursor: pointer;
    }

    &:hover img {
        transform: scale(1.05);
    }

    .restaurant-image {
        width: 100%;
        height: 65%;
        overflow: hidden;
        border-radius: 10px 10px 0 0;

        img {
            width: 100%;
            height: 100%;
            border-radius: 10px 10px 0 0;
            transition: all 0.5s;
        }
    }

    .restaurant-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .restaurant-title {
            flex: 2;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .restaurant-description {
            flex: 1;
            margin: 0 10px 0 10px;
            text-align: center;
        }

        .restaurant-tags {
            flex: 1;
            width: 100%;
            border-top: 1px dotted rgba(0, 0, 0, 0.3);
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(130, 130, 130);
            text-align: center;
        }
    }
}

// List Style
.restaurant-card-list {
    display: flex;
    width: 800px;
    height: 170px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin: 10px;

    &:hover {
        cursor: pointer;
    }

    &:hover img {
        transform: scale(1.05);
    }

    .restaurant-image {
        width: 400px;
        height: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            transition: all 0.5s;
        }
    }

    .restaurant-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .restaurant-title {
            flex: 2;
            display: flex;
            align-items: center;
            font-size: 2rem;
            text-align: center;
        }

        .restaurant-description {
            flex: 1;
            font-size: 1.5rem;
            text-align: center;
        }

        .restaurant-tags {
            flex: 1;
            border-top: 1px dotted rgba(0, 0, 0, 0.3);
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(130, 130, 130);
            width: 100%;
            text-align: center;
        }
    }
}

// This media query is to transform the style of Card from List Style to Grid Style in smalls viewports
@media (max-width: 600px) {
    .restaurant-card-list {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 350px;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

        &:hover {
            cursor: pointer;
        }

        .restaurant-image {
            width: 100%;
            height: 65%;
            overflow: hidden;
            border-radius: 10px 10px 0 0;

            img {
                width: 100%;
                height: 100%;
                border-radius: 10px 10px 0 0;
                transition: all 0.5s;
                display: block;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        .restaurant-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .restaurant-title {
                flex: 2;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            .restaurant-tags {
                flex: 1;
                width: 100%;
                border-top: 1px dotted rgba(0, 0, 0, 0.3);
                display: flex;
                justify-content: center;
                align-items: center;
                color: rgb(130, 130, 130);
                text-align: center;
            }

            .restaurant-description {
                flex: 1;
                margin: 0 10px 0 10px;
                text-align: center;
            }
        }
    }
}

.closed {
    filter: grayscale(100%);
}
