.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 70px;
    margin: 20px;
    width: 100%;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .layout-btns {
        margin-left: 20px;

        .grid-btn,
        .list-btn {
            padding: 3px;
            margin: 3px;
            border: none;
            background-color: transparent;

            &:hover {
                transform: scale(1.1);
            }
        }

        .list-img {
            transform: scale(1.15);
        }

        button {
            &:focus {
                outline: none;
            }

            &:hover {
                cursor: pointer;
            }
        }

        img {
            height: 20px;
        }
    }

    .sort {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .layout-grid {
        display: grid;
        justify-items: center;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-gap: 20px;
    }

    .layout-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.divider {
    margin-bottom: 25px;
    color: rgba(0, 0, 0, 0.6);
}

// Media Queries
@media (max-width: 600px) {
    .header {
        flex-direction: column;
    }

    .sort {
        margin-top: 10px;
    }

    .layout-btns {
        display: none;
    }
}
