.restaurants {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    margin: 20px;
    width: 100%;

    .header {
        margin-bottom: 15px;

        .buttons {
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
        }

        .sort {
            display: flex;
            align-items: center;
        }

        .layout-btns {
            margin-left: 20px;
            display: flex;

            .grid-btn,
            .list-btn {
                padding: 3px;
                margin: 5px;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                box-shadow: -2px -2px 8px rgba(255, 255, 255, 1), -2px -2px 12px rgba(255, 255, 255, 0.5),
                    inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);

                img {
                    height: 20px;
                }

                .list-img {
                    transform: scale(1.15);
                }

                &:hover {
                    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1), inset -2px -2px 12px rgba(255, 255, 255, 0.5),
                        inset 2px 2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15);
                    cursor: pointer;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }

    .divider {
        margin-bottom: 25px;
        color: rgba(0, 0, 0, 0.6);
    }

    .layout-grid {
        display: grid;
        justify-items: center;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-gap: 20px;
    }

    .layout-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

// Media Queries
@media (max-width: 800px) {
    .header {
        .open-restaurants {
            font-size: 1.3rem;
            text-align: center;
        }

        .sort {
            margin: auto;
            margin-top: 10px !important;
        }

        .layout-btns {
            display: none !important;
        }
    }
}
