.restaurant-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
	padding-top: 70px;
    margin: 20px;
    width: 90%;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
	}

	.sort {
		width: 200px;
		display: flex;
		align-items: center;
	}

	.style-change-btns {
		display: flex;
		justify-content: flex-end;
		width: 200px;

		button {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		img {
			height: 20px;
		}
	}

	.restaurant-grid {
        display: grid;
        justify-items: center;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		grid-gap: 30px;
	}
}
