select {
	background: white;
	border: none;
	padding: 4px;
	padding-right: 20px;
	appearance: none;
	background-image: url("../icons/arrow-down.png");
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: 95%;
}
