select {
    flex: 1;
    border: none;
    padding: 4px;
    padding-right: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("../icons/arrow-down.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: right;

    &:focus {
        outline: 0;
    }

    &:hover {
        cursor: pointer;
    }
}
